.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
body {
  display: flex;
  height: 100vh;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  color: white;
  background-image: url(image/stars-1845140_1920\ .jpg);
  /*
  background-image: url(image/astronaut-4106766_1280.jpg);
  background-size: 300%;
  background-position: 5%;
  /*
  FULL RED BACKGROUND
  background-position-x: -10%;
  background-position-y: 45%;
  */
}

button {
  border-radius: 12px;
  width: 200px;
  height: 50px;
  border: #d6d9dc 1px solid;
  color: white;
  background-color: transparent;
  font-weight: 00;
  font-size: 16px;
  transition: transform 0.2s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.96);
}
.imageContainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 20vw;
  background-image: url(image/astronaut-4106766_1280.jpg);
  background-size: cover;
}

.formContainer {
  flex: 1.5;
  align-self: center;
  max-height: 100vh;
}
.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  margin: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logoSection {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
}
.logoSection p {
  opacity: 0.65;
}
.logo {
  width: 150px;
  height: 150px;
  position: absolute;
}
.logoSection p {
  color: white;
  font-size: 4.4rem;
  font-weight: 600;
  margin: 0 0 0 20px;
  scale: 1 1.1;
}

.formRow {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rightRow,
.leftRow {
  display: flex;
  flex-direction: column;
}
.rightRow {
  margin-left: 100px;
}
input {
  border-radius: 12px;
  border: 2px solid #d6d9dc;
  height: 28px;
  width: 250px;
  font-size: 16px;
  opacity: 0.3;
  font-weight: 600;
}

label {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
input:focus {
  opacity: 0.6;
  border-color: #f28f16;
  outline: none;
}
.information {
  width: 600px;
}
h2 {
  font-size: 25px;
  margin-bottom: 30px;
}
.login {
  font-weight: bold;
  color: #f24141;
}
span {
  margin-top: 5px;
}
.error-message {
  color: red;
  font-size: 12px;
}
.credit {
  color: white;
  font-size: 15px;
}
.authorCredit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
}
