.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Sedan", serif;
}
.imageContainer {
  flex:1;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  object-fit: cover;
  min-height: 100vh;
  min-width: 20vw;
  width: 42vw;
  background-image: url(image/teemu-paananen-OOE4xAnBhKo-unsplash.jpg);  
  background-size: cover;
  background-position: 70%;
  
}
.formContainer {
  flex: 2;
  padding: 20px;
  align-self: center;
}
.logoSection{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
}
.logoSection p{
  opacity: 0.65;;
}
.logo{
  width: 250px;
  height: 150px;
  position: absolute;
  
}
.logoSection p{ 
  color: white;
  font-size: 4.4rem;
  font-weight: 600;
  margin: 0 0 0 20px;
  scale: 1 1.15;
}
.signUpForm{
  
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 20px;
  margin: 0 0 40px 0;
}
.formRow{  
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
input{
  border-radius: 3px;
  border: 2px solid #D6D9DC;
  height: 18px;
}
button{
  border-radius: 10px;
  width: 150px;
  height: 50px;
  border: #D6D9DC 2px solid;
  color: white;
  background-color: #067307;
  font-weight: 600;
  transition: transform 0.2s ease;
}
button:hover{
  transform: scale(1.05);
}
button:active {
  transform: scale(0.96);
}
label{
  font-weight: 600;
}
input:invalid {
  border-color: red;
}
.information{
  width: 600px;
}