body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  object-fit: cover;
  min-height: 100vh;
  min-width: 20vw;
  width: 42vw;
  background-image: url(image/pillars_of_creation\ \(1\).webp);
  background-size: cover;
  background-position: 70%;
  
}
.formContainer {
  flex: 2;
  padding: 20px;
  align-self: center;
}
.logoSection{
  align-items: center;
  display: flex;
  opacity: 0.75;
  justify-content: left;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -5px 0px 10px 2px rgba(0, 0, 0, 0.4);
  padding: 15px 0px;
}
.logo{
  width: 150px;
}
.logoSection p{ 
  color: white;
  font-size: 4.4rem;
  font-weight: 600;
  margin: 0 0 0 20px;
  scale: 1 1.15;
}
.signUpForm{
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 20px;
  margin: 0 0 40px 0;
}
.formRow{  
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
input{
  border-radius: 3px;
  border: 2px solid #D6D9DC;
}
button{
  border-radius: 10px;
  width: 150px;
  height: 50px;
  border: #D6D9DC 2px solid;
}
